<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding</title>


    <!-- Library CSS -->
    <link href="css/wedding_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/wedding_style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/leaves.css" type="text/css" media="screen">
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="envelope/css/style.css" rel="stylesheet">
    <!-- Color CSS -->
    <link href="envelope/css/blue.css" rel="stylesheet">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>
<body class="wed_floral">

  <!-- Music Bottom Container -->
  <div class="wed_music_content">
    <div class="wed_music_container">
      <i class="ti ti-music"></i>
    </div>
  </div>
  <!-- Music Bottom Container End -->
  
   <!-- Soundcloud -->
  <div class="wed_iframe">
    <!-- over -->
    <div class="wed_over wed_music_over" data-color="#000" data-opacity="0.5"></div>
    <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/102137206&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>


  <!-- Preloader -->
  <div class="wed_page_loader">
    <div class="wed_story_content wed_image_bck" data-color="#d5fbff">
      <div class="wed_heart_container_row_4">
        <img class="wed_fourth_heart_1" src="images/small_people/heart_1.png" alt="">
        <img class="wed_fourth_heart_2" src="images/small_people/heart_2.png" alt="">
        <img class="wed_fourth_heart_3" src="images/small_people/heart_3.png" alt="">
      </div>
      <div class="wed_story_small_img">
        <img src="images/small_people/small_couple.png" alt="">
      </div>

    </div>
  </div>
  <!-- Preloader End-->

  <!-- Floral Animation -->
  <div id="leafContainer" data-image="floral"></div>
  <!-- Floral Animaton End -->


  <!-- Page -->
  <div class="wed_page" id="wed_page">

    <!-- Header -->
    <header>       
      <nav class="wed_light_nav wed_transp_nav">
        <div class="container">

          <!-- couple header -->
          <img class="wed_couple_header wed_kissing_couple animated" src="images/3.png" alt=""/>
          <img class="wed_couple_header wed_white_couple animated" src="images/3_white_couple.png" alt=""/>
          <!-- couple header end -->

          <!-- Logo -->
          <a href="#" class="wed_logo wed_logo_animation">Sally & Mark</a>

          <!-- Text Logo -->
          <div class="wed_logo_und">Wedding</div>


          <div class="wed_top_menu_mobile_link">
            <i class="ti ti-menu"></i>
          </div>
          <!-- Top Menu -->
          <div class="wed_top_menu_cont">
              <ul class="wed_top_menu">
                <li><a href="#home">Home</a></li>
                <li><a href="#wed_content">The Wedding</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#where">Where&When</a></li>   
                <li><a href="#rsvp">RSVP</a></li>                
              </ul>
          </div>
          <!-- Top Menu End -->
        </div>
        <!-- container end -->
      </nav>

    </header>
    <!-- Header End -->


    <!-- Slider -->
    <div id="home" class="wed_slider wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="images/ex1.jpg">

      <!-- over -->
      <div class="wed_over" data-color="#000" data-opacity="0.1" data-blend="multiply"></div>
      
      <div class="container">

        <!-- Slider Texts -->
        <div class="wed_slide_txt wed_slide_right_middle text-center"  data-0="opacity:1;" data--400-bottom="opacity:0;">
          <img src="images/save_new4.png" height="450" alt="">
          <h4>15.01.2022</h4>
          <h3>Sally & Mark</h3>
        </div>
        <!-- Slider Texts End -->

      </div>
      <!-- container end -->

      <!-- Slide Down -->
      <a class="wed_scroll_down wed_go" href="#wed_content" data-0="opacity:1; bottom:40px;" data--400-bottom="opacity:0; bottom:80px;">
        <b data-0="height:40px" data--400-bottom="height:55px"></b>
          Scroll
      </a>
    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

      <!-- BORDER -->
      <div class="wed_white_hapcouple_border">

        <!-- story section -->
        <section id="story" class="wed_section_inner wed_couple clearfix wed_image_bck wed_wht_txt wed_fixed" data-stellar-background-ratio="0.2" data-image="images/ex1.jpg">
          <!-- Over -->
          <div class="wed_over" data-color="rgb(180, 210, 200)" data-opacity="0.9"></div>
          <div class="container">             
            <div class="row">
              <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                  <div class="wed_topstory_titile wed_great_titles">
                      <h2 class="wed_margtop">
                          Happy Couple
                      </h2>
                  </div>
              </div>
            </div>
            <!-- Row end -->

            <!-- Item -->
            <div class="wed_wrapper">
              <div class="wed_img_1 skrollable skrollable-after" data-bottom="left:20%" data-center="left:0" data-image="images/young_couple/him_2.jpg" style="left: 0px; background-image: url(&quot;images/young_couple/him_2.jpg&quot;);">                         
                <h6 class="wed_name_left">Mark<br><span>Holts</span></h6>
              </div>
            </div>
            <!-- Item -->
            <div class="wed_wrapper">
              <div class="wed_img_2 skrollable skrollable-after" data-bottom="right:20%" data-center="right:0" data-image="images/young_couple/her_3.jpg" style="right: 0px; background-image: url(&quot;images/young_couple/her_3.jpg&quot;);">
                <h6 class="wed_name_right">Sally<br><span>Craft</span></h6>
              </div>
            </div>
            <!-- Couple Text -->
            <div class="married_txt skrollable skrollable-after" data-bottom="opacity:0" data-center="opacity:1" style="opacity: 1;">
                <h3>You're Invited</h3>
                <p>On the 19rd of September, 2015
                <br>
                <b>Mark Holts & Sally Craft</b><br>
                Laugheloped in Tucson, AZ.<br></p>
                <a href="#rsvp" class="btn btn_new">RSRV NOW</a> 
            </div>
       

          </div>
          <!-- END of CONTAINER -->

        </section> 
        <!-- Section end -->
      </div> 
      <!-- BORDER END -->


      <!-- section -->
      <section class="wed_section_outter">
        <!-- container -->
        <div class="container text-center wed_great_titles">
          
          <h2>Don't miss it!</h2>                    
            <div class="row wed_auto_height wed_middle_titles">
              <!-- col end -->
              <span class="wed_countdown" data-year="2022" data-month="01" data-day="15"></span>   
            </div>
            <!-- row end -->
            
        </div>      
        <!-- container End-->
      </section>
      <!-- section end -->


      <!-- White border -->
      <div class="wed_white_inner_border">
        <!-- section -->
        <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed wed_border" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900" >
          <!-- Over -->
          <div class="wed_over" data-color="rgb(180, 210, 200)" data-opacity="0.8"></div>

          <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
              <div class="col-md-12 wed_image_bck wed_fixed text-center" >
                <h2> Are you attending?</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices </p>
                <a href="#rsvp" class="btn btn_new">RSVP</a>
              </div>
              <!-- col end -->

            </div>
            <!-- row end -->

           </div>          
          <!-- container end -->

        </section>
        <!-- section end -->
      </div>   
      <!-- White border end -->

      <!-- section -->
      <section id="gallery" class="wed_section_outter wed_image_bck">


        <div class="container text-center wed_great_titles">

          <h2>Our Gallery</h2>


          <!-- filters -->
          <div class="button-group filter-button-group">
            <a data-filter="*">Show All</a>
            <a data-filter=".web_design">Engagement</a>
            <a data-filter=".graphic_design">First Dates</a>
            <a data-filter=".logo_design">Trip</a>
          </div>
          <!-- filters end -->


          <!-- grid -->
          <div class="wed_portfolio grid">

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="http://placehold.it/790x766" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Love Story</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="http://placehold.it/790x766" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="http://placehold.it/790x766" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="http://placehold.it/790x766" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Love Story</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="http://placehold.it/790x766" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item graphic_design">
                <div class="wed_portfolio_item_cont">
                  <img src="http://placehold.it/790x766" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">First Met</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item logo_design">
                <div class="wed_portfolio_item_cont">
                  <img src="http://placehold.it/790x766" alt="">
                    <span class="wed_port_titles">
                      <span class="wed_port_title">Love Story</span>
                      <span class="wed_port_icons">
                        <a href="#"><i class="ti ti-link"></i></a>
                        <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                      </span>
                  </span>
                </div>
              </div>

              <!-- item -->
              <div class="col-sm-3 wed_portfolio_item grid-item web_design">
                <div class="wed_portfolio_item_cont">
                  <img src="http://placehold.it/790x766" alt="">
                  <span class="wed_port_titles">
                    <span class="wed_port_title">Love Story</span>
                    <span class="wed_port_icons">
                      <a href="#"><i class="ti ti-link"></i></a>
                      <a href="http://placehold.it/1400x900" class="lightbox"><i class="ti ti-search"></i></a>
                    </span>
                  </span>
                </div>
              </div>

          </div>
          <!-- grid end -->

        </div>
        <!-- container end -->

      </section>
      <!-- section end -->

      <!-- White border -->
      <div class="wed_white_inner_border">

        <!-- section -->
        <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed wed_border" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900" >
          <!-- Over -->
          <div class="wed_over" data-color="rgb(180, 210, 200)" data-opacity="0.8"></div>

          <div class="container">
            <div class="row wed_thin_titles">
              <div class="col-md-12 text-center" >
                <h2>“ The best gift is your patecipation, thanks to all ”</h2>   
              </div>
              <!-- col end -->
            </div>
            <!-- row end -->
          </div>          
          <!-- container end -->

        </section>
        <!-- section end -->
      </div>   
      <!-- White border end-->


      
      <!-- White border -->
      <div class="wed_white_inner_border">
        <!-- section -->
        <section id="where" class="wed_section_inner">
          <div class="container-full">
            <div class="row">

              <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://placehold.it/790x600">
                <!-- Over -->
                <div class="wed_over" data-color="rgb(3, 128, 141)" data-opacity="0.9" data-blend="color"></div>

                <div class="wed_simple_block text-center">
                  <h4>CHURCH</h4>
                  <br>
                  <p>790 3rd Street Lockport, <br>NY 14094</p>
                </div>
              </div>

              <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://placehold.it/790x600">
                <!-- Over -->
                <div class="wed_over" data-color="rgb(3, 128, 141)" data-opacity="0.9" data-blend="color"></div>

                <div class="wed_simple_block text-center">
                  <h4>RESTAURANT</h4>
                  <br>
                  1628 Orchard Street Saint Cloud, <br>MN 56301
                </div>
              </div>

              <div class="col-md-4 wed_wht_txt wed_image_bck wed_service_block" data-image="http://placehold.it/790x600">
                <!-- Over -->
                <div class="wed_over" data-color="rgb(3, 128, 141)" data-opacity="0.9" data-blend="color"></div>

                <div class="wed_simple_block text-center">
                  <h4>HOTEL</h4>
                  <br>
                  1285 7th Avenue Paducah, <br>KY 42001
                </div>
              </div>
            </div>
            <!-- Row end -->
          </div>
          <!-- Container end -->
        </section>
        <!-- section end -->

        <!-- section -->
        <section class="wed_section_outter">

          <!-- over -->
          <div class="wed_map_over text-center wed_wht_txt">
            <div class="wed_map_txt wed_icon_box">
              <img class="wed_small_img" src="images/small_people/rising_heart.png" alt="">
              <div class="wed_icon_box_content">
                <h4><b>Open The Map</b></h4>
              </div>
            </div>
          </div>
          <!-- over end -->

          <!-- Over -->
          <div class="wed_over" data-color="rgb(188, 239, 242)" data-opacity="0.8"></div>
          
            <!-- map -->
            <div class="wed_map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d310746.90945683786!2d12.918360609588492!3d52.520582938561994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sru!4v1454387964065" style="border:0; height: 450px; width: 100%;" allowfullscreen></iframe>
            </div>
            <!-- map end -->
        </section>
        <!-- section end -->
      </div>
      <!-- Border End -->
    
    <!-- RSVP -->
    <iframe src="http://localhost:8080/customer/tema1/CST-000001" scrolling="no" class="form-iframe" frameborder="0" width="100%" height="700"></iframe>
    <!-- RSVP End -->

    </section>
    <!-- content end -->
  </div>
  <!-- Page End -->



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script> 

<!-- Library JS -->
<script src="js/wedding_library.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/leaves.js"></script>

<!-- Theme JS -->
<script src="/envelope/js/script.js"></script>

<!-- Theme JS -->
<script src="js/wedding_script.js"></script>


</body>
</html>